<body>
    <title>Image Post</title>

<div id="post-container">
 <section>
        <img id="post-image" src="/{{currentPost.photopath}}">
    </section>

    <section>
        <h5>title: {{currentPost.title}}</h5>
    </section>
   
    <section>
        <h5>username: {{currentPost.username}}</h5>
    </section>

    <section>
        <h5>post created: {{currentPost.created}}</h5>
    </section>

    <section>
        <h5>desc: {{currentPost.description}}</h5>
    </section>
</div>

    <div id="comment-container">
        <div id= "comment-box">
        <div id="messages"> 
            {{#each currentPost.comments}}
                {{> comment this}}
            {{/each}}
        </div>

            <input id="comment-text" type="text" placeholder="enter comment here...">
            <input id="comment-submit" type="submit">
        </div>
    </div>

    <script>
        document.addEventListener('DOMContentLoaded', (event) =>{
            document.querySelectorAll('span[class=date-posted]').forEach((postedDate) => {
                postedDate.textContent = new Date(postedDate.textContent).toLocaleString();
            });
        });

        function addMessage(data){
            let template = document.createElement('template');
            template.innerHTML = 
            `<div id="message-${data.commentId}">
                <strong class="author-text">@${data.username}</strong>
                <span class="date-posted"> ${new Date().toLocaleString()}</span>
                <div class="comment-text">${data.comment}</div>
            </div>`;
            document.getElementById('messages').firstChild.before(template.content.firstChild);
        }
        document.getElementById('comment-submit').onclick= (event) =>{
            let commentText = document.getElementById('comment-text').value;
            let postId = document.location.pathname.match(/\d+/g).map(Number)[0];

            if(!commentText){
                return;
            }

            let fetchOptions= {
                method: "POST",
                headers: {
                    "Content-Type":"Application/json"
                },
                body: JSON.stringify({
                    comment:commentText,
                    postId,postId
                })
            }
                fetch('/comments/create', fetchOptions)
                .then((response) => response.json())
                .then((data) =>{
                    if(data.code ==1){
                        addMessage(data);
                    }else{
                        addFlashFromFrontEnd(data.message, data.status);
                    }
                })
                .catch(err => console.log(err));
            }
        
    </script>
</body>
</html>